/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.yuu-theme-dark tr
    background-color: #0e101f !important;

.yuu-theme-dark tr:nth-child(2n)
    background-color: #0e101f !important;

.yuu-theme-dark
    background-color: #020413 !important;

.yuu-theme-dark .sidebar
    background-color: #020413 !important;

.home .hero img
  max-width 450px!important

.home .hero img
    margin: 3rem auto 0rem !important;

.home .hero h1, .home .hero .description, .home .hero .action
    margin: 1rem auto !important;

.home .hero .description
    max-width: 45rem !important;

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c283c;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
    font-family: 'Baloo 2', cursive;
}